{{> post-info post}}

{{#if loggedIn}}
<div class="comment-form-container card">
  <div class="card-body">
    <div class="card-title title">
      
    </div>
    <form class="comment-form">
      <div>
        <label for="comment-body">Comment</label>
        <textarea class="comment-body"name="comment-body"></textarea>
      </div>
      <div class="add-comment-button">
        <button class="add-comment" type="submit">Add Comment</button>
      </div>
    </form>
  </div>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}